extends ../layout.pug


block title
   title Go Incognito. Buy and sell Bitcoin anonymously without KYC.
   
block meta
   - var descriptionContent = `You don’t have to give up your identity to buy and sell Bitcoin anonymously. You don’t have to surrender your documents to trade Ethereum and other coins. pDEX is first non-custodial, completely decentralized, anonymous Bitcoin exchange. Oh, and you can become a liquidity provider and list your own trading pairs.`;
   meta(name='description', content=descriptionContent)
   meta(name='og:description' content=descriptionContent)
   meta(name='twitter:description' content=descriptionContent)
   meta(property="og:image" content=require('../../image/wallet/wallet_slider_1.jpg'))

block main
   include ../header.pug
   div#dex-container
      div.intro-slider-container
         .image
            .image-container
               .desktop
                  .img-content
                     i-slider(images=[
                        {
                           img: require('../../image/dex/dex_content_1.png'),
                           objectFit: 'contain'
                        },
                        {
                           img: require('../../image/dex/dex_content_2.png'),
                           objectFit: 'contain'
                        },
                        {
                           img: require('../../image/dex/dex_content_3.png'),
                           objectFit: 'contain'
                        },
                     ], 
                     aspect_ratio=424.11/197.5*100,
                     auto_slide='true',
                     auto_slide_time=3*1000,
                     thumbnail='false')
                  img(src=require('../../image/dex/dex_container.jpg')).img-container
            img(src=require('../../image/wallet/wallet_mobile_bg.jpg')).mobile
         .right-content
            include intro.pug
      //- include section.pug
      //- include question.pug