mixin collapse(id)
  div(
    class='collapse-container',
    data-id= id
  )
    block

mixin collapseItem(label, desc)
  .collapse
    span.label!= label
    .content
      if desc
        span!= desc
      if block
        block

mixin collapseItemHtml(labelHtml, descHtml, isOpen)
  .collapse(
    data-open= isOpen
  )
    != labelHtml
    if block
      .content
        block
    if descHtml
      != descHtml