mixin section(subtitle, title, desc)
  .section
    .info.container.visible-effect
      //- h3.subtitle= subtitle
      h1.title= title
      p.desc= desc
    if block
      block
    else

mixin stacklist(name, list)
  .stack.visible-effect
    span.stack-name= name + ': '
    each val, index in list
      a(href=val.link, target='blank').stack-item= val.name
      if index < (list.length - 1)
        |, 
      
#section-container
  +section(
    '',
    'A passive income generator.',
    'How? It’s simple. You and your Node earn rewards for helping users of the new internet make private transactions. You can host a Node on your computer or leave your dedicated Node device to do its job in the background of any room.'
  )
    //- +stacklist('Related work', [
    //-   { name: 'Sidechain', link: 'https://blockstream.com/sidechains.pdf' },
    //-   { name: 'Federation', link: 'https://cosmos.network' },
    //-   { name: 'Bridges', link: 'https://blog.kyber.network/waterloo-a-decentralized-practical-bridge-between-eos-and-ethereum-1c230ac65524' }
    //- ])
    img.container(src=require('../../image/section3.jpg'), alt='section').visible-effect

  +section(
    '',
    'Earn multiple cryptocurrencies.',
    'Since Node powers Incognito mode for multiple blockchains, it can collect transaction fees in multiple cryptocurrencies. Choose any, or all. It’s up to you.'
  )
    //- +stacklist('Related work', [
    //-   { name: 'CryptoNote', link: 'https://cryptonote.org/whitepaper.pdf' },
    //-   { name: 'Bulletproofs', link: 'https://eprint.iacr.org/2017/1066.pdf' },
    //-   { name: 'Zero-Knowledge Proofs', link: 'http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.419.8132&rep=rep1&type=pdf' }
    //- ])
    img.container(src=require('../../image/section1.svg'), alt='section').visible-effect

  +section(
    '',
    'Get the Node device.',
    'For those that prefer simplicity and convenience, Node is the easiest way to start mining with Incognito. No technical expertise required - all you need to do is plug it in to earn crypto. Use the mobile app to start, pause, resume and track your earnings - from your couch, at the beach or on the go.'
  )
    //- +stacklist('Related work', [
    //-   { name: 'OmniLedger', link: 'https://eprint.iacr.org/2017/406.pdf' },
    //-   { name: 'libp2p', link: 'https://github.com/libp2p/specs' },
    //-   { name: 'pBFT', link: 'http://pmg.csail.mit.edu/papers/osdi99.pdf' }
    //- ])
    img.container(src=require('../../image/section2.jpg'), alt='section').visible-effect