#about-team
  .info.container.visible-effect
    h3.label OUR TEAM
    p.desc We’re a diverse team of 15 cryptographers, distributed system researchers, and programmers - busy building the privacy layer of the decentralized web.

  .gallery.container.visible-effect
    .group
      .image
        img(src=require('../../image/about/team/2.jpg'), alt='team')
    .group.grid
      .image
        img(src=require('../../image/about/team/3.jpg'), alt='team')
      .image
        img(src=require('../../image/about/team/4.jpg'), alt='team')
      .image
        img(src=require('../../image/about/team/1.jpg'), alt='team')
      .image
        img(src=require('../../image/about/team/5.jpg'), alt='team')

  .info.container.visible-effect
    h3.label JOIN INCOGNITO
    p.desc We’re looking for deeply technical people as well as switched-on generalists. If you’re interested in what we’re building, email us at 
      a(href='mailto:go@incognito.org') go@incognito.org.