mixin address_form(prefix='shipping')
    .address-form
        div.input-two-columns
            div.input-field
                label(for=`${prefix}-first-name`) First name
                input(
                    placeholder="First name",
                    id=`${prefix}-first-name`,
                    name=`${prefix}[first-name]`,
                    required="true",
                    error_message='Enter a first name'
                )
            div.input-field
                label(for=`${prefix}-last-name`) Last name
                input(
                    placeholder="Last name",
                    id=`${prefix}-last-name`,
                    name=`${prefix}[last-name]`,
                    required="true",
                    error_message='Enter a last name'
                )
        div.input-field
            label(for=`${prefix}-address`) Address
            input(
                placeholder="Address"
                id=`${prefix}-address`,
                name=`${prefix}[address]`,
                required="true",
                error_message='Enter an address'
            )
        div.input-field
            label(for=`${prefix}-city`) City
            input(
                placeholder="City",
                id=`${prefix}-city`,
                name=`${prefix}[city]`,
                required="true",
                error_message='Enter a city'
            )
        div.input-two-columns.country-wrapper
            div.select-two-lines-label
                div.select-wrapper.input-field.has-value
                    label(for=`${prefix}-country`) Country/Region
                    select(id=`${prefix}-country`, name=`${prefix}[country]`, required="true", error_message='Select a country')
                    div.caret
                        img.icon(src=require('../../image/icon/caret-down-solid.svg'), alt='caret')
            div.select-two-lines-label
                div.select-wrapper.input-field.has-value
                    label(for=`${prefix}-state`) State
                    select(id=`${prefix}-state`, name=`${prefix}[state]`, required="true", error_message='Select a state')
                    div.caret
                        img.icon(src=require('../../image/icon/caret-down-solid.svg'), alt='caret')
            div.input-field
                label(for=`${prefix}-postal-code`) Postal code
                input(
                    placeholder="Postal code",
                    id=`${prefix}-postal-code`,
                    name=`${prefix}[postal-code]`,
                    required="true",
                    error_message='Enter a ZIP / Postal code'
                )