- var price = '$---'
//- - var quantity = 1
div#cart-container
    div.order-items
        div.product
            //- span.product-quantity=quantity
            img.product-image(
                alt="Node",
                src=require("../../image/device.png")
            )
        div.product-name Node
        div.product-price
            p(id="price").price=price
    //.order-info
    //    p.desc Node is the simplest way to power the Incognito network and earn crypto. Just plug it in to get started.
    //        br
    //        br
    //        span.desc.bold-text As a Node owner, you:
    //    ul.features
    //        //li.item Protect people from the dangers of surveillance.
    //        li.item Give everyone a way to use crypto privately.
    //        li.item Own a share of the Incognito network.
    //        //li.item Earn block rewards in PRV, and transaction fees in BTC, ETH, and more.
    //        li.item Earn block rewards in PRV.
    .order-quantity
        p.title Select quantity
        select(id="order-quantity").select-box
            -for(var i = 1;i<=5;i++){
                option(value=i) #{i}
            -}
    div.order-summary
        div.content-two-columns.separator
            div.left
                div Subtotal 
                div Shipping 
                div.rocket
                .info.offer-wrapper  
                    span(id="shipping-time").shipppingTime 
                div.extra-text-ship(style={'font-size':'12px', width:'100%', color: '#f40000'})

            div.right
                div.sub-total-price=price 
                div.shipping-price FREE
        div.content-two-columns
            div.left
                div.total-label Total 
            div.right
                span.total-price.price=price  
        div.content-two-columns#pay-with-crypto.hidden
            div.left
                div.total-label.highlight Pay with 
                    span.coin-name
            div.right
                span.total-price.price 
    //include ./crypto_guide
    //+crypto_guide()