extends ../layout.pug

block main
    div#information
        ul.breadcrumb.desktop
            li.breadcrumb-item.active
                span Information
                img.icon(src=require('../../image/icon/chevron-right-light.svg'), alt='right')
            li.breadcrumb-item
                span Payment
        form
            div.input-wrapper
                h2 Contact information
                input(
                    placeholder='Email or mobile phone number',
                    id="contact",
                    name="contact"
                )
            div.input-wrapper
                h2 Shipping address
                div.input-two-columns
                    div.input-field
                        label(for="first-name") First name (optional)
                        input(
                            placeholder="First name (optional)",
                            id="first-name",
                            name="first-name"
                        )
                    div.input-field
                        label(for="last-name") Last name
                        input(
                            placeholder="Last name",
                            id="last-name",
                            name="last-name"
                        )
                div.input-field
                    label(for="address") Address
                    input(
                        placeholder="Address"
                        id="address",
                        name="address"
                    )
                div.input-field
                    label(for="apartment") Apartment, suite, etc. (optional)
                    input(
                        placeholder="Apartment, suite, etc. (optional)"
                        id="apartment",
                        name="apartment"
                    )
                div.input-field
                    label(for="city") City
                    input(
                        placeholder="City",
                        id="city",
                        name="city"
                    )
                div.input-two-columns
                    div.select-two-lines-label
                        label Country/Region
                        div.select-wrapper
                            select(id="country", name="country")
                                option(value="VN") Vietnam
                    div.input-field
                        label(for="postal-code") Postal code
                        input(
                            placeholder="Postal code",
                            id="postal-code",
                            name="postal-code"
                        )
            div.button-wrapper
                button Continue to shipping
