div#order-information-container.payment-page
    ul.breadcrumb.desktop
        li.breadcrumb-item.active
            span Information
            img.icon(src=require('../../image/icon/chevron-right-light.svg'), alt='right')
        li.breadcrumb-item
            span Payment
    form#order-info
        div.input-wrapper
            h2 Contact information
            div.input-field
                label(for="email") Email
                input(
                    placeholder='Email',
                    id="email",
                    name="email",
                    required="true",
                    email_required="true",
                    error_message='Enter a valid email'
                )
        div.input-wrapper
            h2 Shipping Address
            include address_form
            +address_form('shipping')
        div.button-wrapper
            button#submit-order-btn Continue to payment