mixin box-content
    fieldset(disabled).content-box__container__row.content.hidden&attributes(attributes)
        block

div#order-information-container.payment-page
    ul.breadcrumb.desktop
        li.breadcrumb-item.active
            span Information
            img.icon(src=require('../../image/icon/chevron-right-light.svg'), alt='right')
        li.breadcrumb-item
            span Payment
    form#order-info
        div.input-wrapper
            h2 Contact information
            div.input-field
                label(for="email") Email
                input(
                    placeholder='Email',
                    id="email",
                    name="email",
                    required="true",
                    email_required="true",
                    error_message='Enter a valid email'
                )
        div.input-wrapper
            h2 Shipping Address
            include address_form
            +address_form('shipping')
                .input-field
                    label(for=`shipping-phone-number`) Phone Number (Optional)
                    input(
                        placeholder="Phone Number (Optional)",
                        id=`shipping-phone-number`,
                        type="tel"
                        name=`shipping[phone_number]`,
                    )
                    i-tooltip(data-text='In case we need to contact you about your order').question-icon                 
        div#billing-address-container.content-box.input-wrapper
            h2 Billing Address
            p Select the address that matches your card or payment method.
            fieldset.content-box__container
                .content-box__container__row(data-same-billing-address, data-default="true")
                    .radio-input
                        input(type='radio', name='different_billing_address', value='false')
                    .radio-label
                        .label Same as shipping address
                .content-box__container__row(data-different-billing-address)
                    .radio-input
                        input(type='radio', name='different_billing_address', value='true', aria-controls='different-billing-address-form')
                    .radio-label
                        .label Use a different billing address
                +box-content#different-billing-address-form
                    .input-wrapper
                        include address_form
                        +address_form('billing')        
        div.button-wrapper
            button#submit-order-btn Continue to payment