div#payment-container.payment-page.hidden
    ul.breadcrumb.desktop
        li.breadcrumb-item
            a.link(href='#') Information
            img.icon(src=require('../../image/icon/chevron-right-light.svg'), alt='right')
        li.breadcrumb-item.active
            span Payment
    div.information
        div.three-lines-content
            div Ship to
            div#ship-to
            a.link(href='#') Change
    div.payment#pay-with-zelle
        h2 Pay in USD with Zelle
        p Zelle is the quickest way to pay for your Node.
        .payment-wrapper
            div.button-wrapper
                button.submit-btn#submit-payment-zelle-btn Pay with Zelle
    div.payment#pay-with-crypto
        h2 Pay with Bitcoin, Ethereum and more.
        div.card-input.payment-wrapper
            div.card-type
                div.types
                    img(src=require('../../image/icon/btc.svg'))
                    img(src=require('../../image/icon/eth.svg'))
                    img(src=require('../../image/icon/bnb.svg'))
                    img(src=require('../../image/icon/usdt.svg'))
            div.card-information.input-wrapper
                div.select-two-lines-label
                    div.select-wrapper.input-field
                        select(name='coin-name')#coin-name
                            include ./coin_name
                            option(value='BTC') 
                                +coin_name('BTC')
                            option(value='ETH') 
                                +coin_name('ETH')
                            option(value='BNB') 
                                +coin_name('BNB')
                            option(value='USDT') 
                                +coin_name('USDT')
                            option(value='USDC') 
                                +coin_name('USDC')
                            option(value='TUSD')   
                                +coin_name('TUSD')
                            option(value='PAX') 
                                +coin_name('PAX')
                            option(value='GUSD') 
                                +coin_name('GUSD')
                            option(value='USDS') 
                                +coin_name('USDS')
                            option(value='BUSD') 
                                +coin_name('BUSD')
                        div.caret
                            img.icon(src=require('../../image/icon/caret-down-solid.svg'), alt='caret')
            div.button-wrapper
                button.submit-btn#submit-payment-btn Pay now
    include ./crypto_guide
    +crypto_guide(false)