include ../common/collapse.pug

mixin stepHtml(step, stepName, isOpen)
  .step-item(id=`step-${step}`)
    +collapseItemHtml(`<span class='label' data-step-number='${step}'>${stepName}</span>`, null, isOpen)
      block

.step-container.container
  +collapse('validator-steps-guide')(auto-collapse-first-item='true')
    +stepHtml('1', 'Set up your server', 'true')
      p You can run Incognito on a low-cost server. If you don’t have a server yet, it’s really simple and takes just a couple of minutes. You can set up an account with a VPS provider or a cloud service provider like
        | 
        a(href='https://www.digitalocean.com', target='blank') DigitalOcean
        |,
        | 
        a(href='https://cloud.google.com/', target='blank') Google Cloud
        |,
        | 
        a(href='https://aws.amazon.com/', target='blank') AWS
        | 
        | or
        | 
        a(href='https://www.vultr.com/', target='blank') Vultr
        |,
        | 
        a(href='https://www.linode.com/', target='blank') Linode. 
        |It is highly recommended to set up your server with DigitalOcean Instance.

      p Useful instructions:
        |
        br
        | * 
        a(href="doc-setup-amazon-instance.html", target='blank') How to set up an AWS account?
        br
        | * 
        a(href="doc-setup-gcloud-instance.html", target='blank') How to set up a Google Cloud Instance?
        br
        | * 
        a(href="doc-setup-digitalocean-instance.html", target='blank') How to set up a Digital Ocean Instance?
      
      p The minimum server requirements are 4GB RAM, 4 CPUs, and 50GB SSD. For example, if you use Google Cloud Instance, the Machine type should be "n1-highcpu-4".
      p Save 
        |
        span.highlight YOUR SERVER EXTERNAL IP ADDRESS
        |. You’ll need it in Step 5.
      p See instructions to set up Node in the Step 3.

    +stepHtml('2', 'Create your account')
      p Download the Incognito App
      include /common/app_store
      +app_store()
      p Open the app and it will automatically generate a wallet for you.
      p Tap on 
        span.highlight Settings 
        | (Gear icon). 

      .row-img
        .img
          img(src=require('../../image/become_validator/1.png'), alt='view_account_setting')
        .img
          img(src=require('../../image/become_validator/2.png'), alt='view_your_keys')
      p Copy 
        |
        span.highlight YOUR INCOGNITO ADDRESS
        |  and your 
        span.highlight VALIDATOR KEY 
        span.italic (keep them safe!)
        |. You’ll need them in STEP 3 and 4.
      .row-img
        .img
          img(src=require('../../image/become_validator/3.png'), alt='copy_your_keys')

    +stepHtml('3', 'Run Incognito')
      p In your terminal:
      p Run this command line below. Replace validator_key with 
        |
        span.highlight your VALIDATOR KEY 
        | (from Step 1).
      p.script.copiable(data-copy-value='curl -LO https://incognito.org/run.sh && sed -i "s/xxx/validator_key/" run.sh && sudo bash run.sh') curl -LO https://incognito.org/run.sh && sed -i "s/xxx/validator_key/" run.sh && sudo bash run.sh

      p If you see the following errors, just ignore them. You’re doing good.  
        br
        p.quote Error: No such container: inc_miner
          br
          |Error: No such container: inc_kovan
          br
          |Error response from daemon: network with name inc_net already exists  
          
      p For the curious, because Incognito is integrated with Ethereum (so you can send ETH and ERC20 tokens privately), its error messages show up here. There’s nothing much we can do about it. Move on.
      p.highlight Advanced set up: customize the port of your Node
      p The default rpc port is 9334 and node port is 9433. To change it, please follow these steps:
      ol
        li In your terminal:
          p Open the file 
            a(href='/run.sh').highlight.special-link run.sh
            |  by this command:
          p.script.copiable(data-copy-value='nano run.sh') nano run.sh
          p Add the following param in docker command (replace node_port, rpc_port correspond to the port you want)
          p.script.copiable(data-copy-value='docker run ... -p <node_port>:<node_port> -p <rpc_port>:<rpc_port> ...') docker run ... -p &lt;node_port&gt;:&lt;node_port&gt; -p &lt;rpc_port&gt;:&lt;rpc_port&gt; ...
          p Then run the following command (replace rpc_port, node_port with yours):
          p.script.copiable(data-copy-value='rpc_port=9334 node_port=9433 ./run.sh') rpc_port=9334 node_port=9433 ./run.sh
        li On the app:
          p Separate the IP of your Virtual Node and the customized port by a colon before adding the Node. For example: 123.456.7.8:9335
          .row-img
            .img
              img(src=require('../../image/become_validator/16.png'), alt='example virtual node ip')

    +stepHtml('4', 'Get Privacy Token (PRV) to stake')
      p Privacy (PRV) is the native coin of the Incognito Network. To become a validator, you’ll need to stake the minimum 1,750 PRV. You can purchase PRV on the Incognito pDEX using BTC or ETH (more currencies coming soon) or you can borrow PRV using crypto as collateral on Constant platform.
        ol
          li Buy PRV: 
            a(href='https://incognito.org/blog/how-to-trade-bitcoin-privately-with-incognito-pdex/').highlight pDex Instruction
          li Borrow PRV: 
            a(href='https://incognito.org/blog/how-to-borrow-prv-with-constant/').highlight Constant Loan Instruction

    +stepHtml('5', 'Monitor your node')
      p You can easily monitor your Incognito nodes right from your phone. 
      .row-img
        .img     
          img(src=require('../../image/become_validator/8.png'), alt='manage_node')

      p Tap 
        span.highlight "Add a Virtual Node"
      .row-img
        .img
          img(src=require('../../image/become_validator/9.png'), alt='add_virtual_node')

      p Enter 
        span.highlight your Node's IP address, then click 
        span.highlight "Add"
      .row-img
        .img
          img(src=require('../../image/become_validator/10.png'), alt='add_virtual_node_form')

    +stepHtml('6', 'Stake')
      p Almost there! Now, that you’ve got PRV, all you have to do is stake. Remember, you need to stake at least 1,750 PRV to begin earning rewards.
      p Tap on the Node you want to stake
      .row-img
        .img
          img(src=require('../../image/become_validator/11.png'), alt='node_want_to_stake')

      p Tap 
        span.highlight "Run" 
        |to start staking
      .row-img
        .img
          img(src=require('../../image/become_validator/12.png'), alt='start_staking')

      p Select fee & speed as you want, then tap 
        span.highlight "Stake"
      .row-img
        .img
          img(src=require('../../image/become_validator/13.png'), alt='stake')
        .img
          img(src=require('../../image/become_validator/14.png'), alt='node_page')
      
      p Congrats! You’re officially part of the network. Welcome to Incognito :)
      p
        span.highlight IMPORTANT NOTE: 
        |Please keep your PRIVATE KEY as SAFE because anyone who has it can access your funds. You may need it once you re-install the mobile app.
      .row-img
        .img
          img(src=require('../../image/become_validator/15.png'), alt='secure_key')

      p We welcome any questions, comments, or feedback. Or just reach out to chat. We’re on telegram pretty much all the time:
        | 
        a(href='https://t.me/incognitonode', target='blank') https://t.me/incognitonode
        |, or do it the old fashioned way and send an email to
        | 
        a(href='mailto:go@incognito.org') go@incognito.org.