include ../common/collapse.pug

mixin stepHtml(step, stepName, isOpen)
  .step-item#hello
    +collapseItemHtml(`<span class='label' data-step-number='${step}'>${stepName}</span>`, null, isOpen)
      block

.step-container.container
  +collapse('validator-steps-guide')
    +stepHtml('1', 'Create your account', 'true')
      p Download the Incognito App
      .row-img 
        .img.install-app-img
          a(href='https://play.google.com/store/apps/details?id=com.incognito.wallet', target='blank')
            img(src=require('../../image/wallet/google_play_black.svg'), alt='chplay-app')
        .img.install-app-img
          a(href='https://apps.apple.com/us/app/incognito-crypto-wallet/id1475631606?ls=1', target='blank')
            img(src=require('../../image/wallet/app_store_black.svg'), alt='ios-app')
      p Open the app and it will automatically generate a wallet for you.
      p Tap on 
        span.highlight Settings 
        | (Gear icon). 

      img(src=require('../../image/become_validator/1.png'), alt='view_account_setting')
      img(src=require('../../image/become_validator/2.png'), alt='view_your_keys')
      p Copy 
        |
        span.highlight YOUR INCOGNITO ADDRESS
        |  and your 
        span.highlight VALIDATOR KEY 
        span.italic (keep them safe!)
        |. You’ll need them in STEP 3 and 4.
      img(src=require('../../image/become_validator/3.png'), alt='copy_your_keys')

    +stepHtml('2', 'Set up your server')
      p You can run Incognito on a low-cost server. If you don’t have a server yet, it’s really simple and takes just a couple of minutes. You can set up an account with a VPS provider or a cloud service provider like
        | 
        a(href='https://www.digitalocean.com', target='blank') DigitalOcean
        |,
        | 
        a(href='https://cloud.google.com/', target='blank') Google Cloud
        |,
        | 
        a(href='https://aws.amazon.com/', target='blank') AWS
        | 
        | or
        | 
        a(href='https://www.vultr.com/', target='blank') Vultr
        |,
        | 
        a(href='https://www.linode.com/', target='blank') Linode. 
        |It is highly recommended to set up your server with DigitalOcean Instance.

      p Useful instructions:
        |
        br
        | * 
        a(href="doc-setup-amazon-instance.html", target='blank') How to set up an AWS account?
        br
        | * 
        a(href="doc-setup-gcloud-instance.html", target='blank') How to set up a Google Cloud Instance?
        br
        | * 
        a(href="doc-setup-digitalocean-instance.html", target='blank') How to set up a Digital Ocean Instance?
      
      p The minimum server requirements are 4GB RAM, 4 CPUs, and 50GB SSD. For example, if you use Google Cloud Instance, the Machine type should be "n1-highcpu-4".
      p Save 
        |
        span.highlight YOUR SERVER EXTERNAL IP ADDRESS
        |. You’ll need it in Step 5.
      p See instructions to set up Node in the Step 3.

    +stepHtml('3', 'Run Incognito')
      p In your terminal:
      p Run this command line below. Replace validator_key with 
        |
        span.highlight your VALIDATOR KEY 
        | (from Step 1).
      p.script.copiable(data-copy-value='curl -LO https://raw.githubusercontent.com/incognitochain/incognito-chain/master/bin/bridge/mainnet-run.sh && sed -i "s/xxx/validator_key/" run.sh && sudo bash run.sh') curl -LO https://raw.githubusercontent.com/incognitochain/incognito-chain/master/bin/bridge/mainnet-run.sh && sed -i "s/xxx/validator_key/" run.sh && sudo bash run.sh

      p If you see the following errors, just ignore them. You’re doing good.  
        br
        span.quote Error: No such container: inc_miner
        br
        span.quote Error: No such container: inc_kovan
        br
        span.quote Error response from daemon: network with name inc_net already exists  
          
      p For the curious, because Incognito is integrated with Ethereum (so you can send ETH and ERC20 tokens privately), its error messages show up here. There’s nothing much we can do about it. Move on.

    +stepHtml('4', 'Get Privacy Token (PRV) to stake')
      p Privacy (PRV) is the native coin of the Incognito Network. To become a validator, you’ll need to stake the minimum 1,750 PRV. You can purchase PRV on the Incognito DEX using BTC or ETH (more currencies coming soon).
      p Here are instructions on how to buy PRV with ETH:
        ol
          li Deposit ETH to the Incognito Wallet to turn it into pETH 
            p 
            |Open the app. Tap private ETH. Tap Deposit.
            br
            |Send ETH to the address displayed.
            br
            |That’s it! You now have pETH.
            p
            img(src=require('../../image/become_validator/4.png'), alt='issue_new_token')
            img(src=require('../../image/become_validator/5.png'), alt='issue_new_token')
            img(src=require('../../image/become_validator/6.png'), alt='issue_new_token')
            p
          li Purchase PRV on the pDEX
            p 
            |Tap on DEX. Tap Swap.
            p
            img(src=require('../../image/become_validator/7.png'), alt='swap_token')
            p
            |Here are the PRV pairs. Right now, you can choose either pETH/PRV or pBTC/PRV. Enter the amount of ETH you want to swap for PRV (you’ll need 1750 PRV to stake), then tap Swap.
            p
            |Success! You now have PRV.

    +stepHtml('5', 'Monitor your node')
      p You can easily monitor your Incognito nodes right from your phone.      
      img(src=require('../../image/become_validator/8.png'), alt='manage_node')

      p Tap 
        span.highlight "Add a Virtual Node"
      img(src=require('../../image/become_validator/9.png'), alt='add_virtual_node')

      p Enter 
        span.highlight your Node's IP address, then click 
        span.highlight "Add"
      img(src=require('../../image/become_validator/10.png'), alt='add_virtual_node_form')

    +stepHtml('6', 'Stake')
      p Almost there! Now, that you’ve got PRV, all you have to do is stake. Remember, you need to stake at least 1,750 PRV to begin earning rewards.
      p Tap on the Node you want to stake
      img(src=require('../../image/become_validator/11.png'), alt='node_want_to_stake')

      p Tap 
        span.highlight "Run" 
        |to start staking
      img(src=require('../../image/become_validator/12.png'), alt='start_staking')

      p Select fee & speed as you want, then tap 
        span.highlight "Stake"
      img(src=require('../../image/become_validator/13.png'), alt='stake')
      img(src=require('../../image/become_validator/14.png'), alt='node_page')
      
      p Congrats! You’re officially part of the network. Welcome to Incognito :)
      p
        span.highlight IMPORTANT NOTE: 
        |Please keep your PRIVATE KEY as SAFE because anyone who has it can access your funds. You may need it once you re-install the mobile app.
      img(src=require('../../image/become_validator/15.png'), alt='secure_key')

      p We welcome any questions, comments, or feedback. Or just reach out to chat. We’re on telegram pretty much all the time:
        | 
        a(href='https://t.me/incognitonode', target='blank') https://t.me/incognitonode
        |, or do it the old fashioned way and send an email to
        | 
        a(href='mailto:go@incognito.org') go@incognito.org.