include ../common/collapse.pug

mixin stepHtml(step, stepName, isOpen)
  .step-item
    +collapseItemHtml(`<span class='label' data-step-number='${step}'>${stepName}</span>`, null, isOpen)
      block

.step-container.container
  +collapse('validator-steps-guide')
    +stepHtml('1', 'Create your account', 'true')
      p Create a password to set up your Incognito Wallet account:
        | 
        a(href='https://test-wallet.incognito.org', target='blank') https://test-wallet.incognito.org.
      p Copy
        | 
        span.highlight YOUR PRIVATE KEY.
        | 
        | Keep it safe! You’ll need it to run a script in STEP 2.
      p Copy
        | 
        span.highlight YOUR ADDRESS.
        | 
        | You’ll need it for STEP 3, where you’ll request PRV to stake.

      img(src=require('../../image/become_validator/step1.png'), alt='step1')

    +stepHtml('2', 'Run Incognito')
      p Install 
        |
        a(href='https://docs.docker.com/install/', target='blank') Docker.
      p Run the command line below to download run.sh, or download it
        | 
        a(href='https://incognito.org/run.sh', target='blank') here.
      p 
        span.script.copiable(data-copy-value='curl -LO https://incognito.org/run.sh') curl -LO https://incognito.org/run.sh
      p Open, and edit the file, then replace 
        | 
        span.script xxx
        | 
        | with
        | 
        span.script YOUR PRIVATE KEY
        |
        |(refer to STEP 1 if you’re lost). Then, run the command line below to start Incognito.
      p
        span.script.copiable(data-copy-value='bash run.sh') bash run.sh
      
      p
        span If you see the following errors, just ignore them.  You’re doing good.
        br
        span.quote Error: No such container: inc_miner
        br
        span.quote Error: No such container: inc_kovan
        br
        span.quote Error response from daemon: network with name inc_net already exists
      
      p For the curious, because Incognito is integrated with Ethereum (so you can send ETH and ERC20 tokens privately), its error messages show up here.  There’s nothing much we can do about it. Moving on.

    
    +stepHtml('3', 'Request free Privacy (PRV)')
      p Privacy (PRV) is the native coin of the Incognito Network.  To become a validator and help build the network, you’ll need to stake the minimum 1,750 PRV.
      p It’s easy to request free PRV.  Simply send a message to the Incognito Telegram channel 
        | 
        a(href='https://t.me/incognitochain', target='blank') https://t.me/incognitochain
        |, remembering to include YOUR ADDRESS (from STEP 1).
      p For example:
      p.quote "Send me free PRV and no one gets hurt. My address is 1Uv3CsGLj7Ue6YoftT2XvMPrLcpETWgDPu9XQ3rF8FgZKMtwfkGPbQ1nRxtyhSVs7duQ"


    +stepHtml('4', 'Stake')
      p Almost there! Now, that you’ve got PRV, all you have to do is stake. Remember, you need to stake at least 1,750 PRV to begin earning rewards. Just open your Incognito Wallet and tap the [STAKE] button.
      a(href='https://test-wallet.incognito.org', target='blank') https://test-wallet.incognito.org
      br
      br
      .row-img 
        .img
          img(src=require('../../image/become_validator/stake_1.png'), alt='stake_1')
        .img
          img(src=require('../../image/become_validator/stake_2.png'), alt='stake_2')
      p Congrats! You’re officially part of the network. Welcome to Incognito :)

    +stepHtml('5', 'Monitor Incognito (optional)')
      p Running multiple nodes? Or just kind of a control freak? Install 
        | 
        a(href='https://github.com/incognitochain/incognito-monitor/releases', target='blank') Incognito Network Monitor.
        |. The Incognito Network Monitor is a desktop utility application that allows you to - you guessed it - easily monitor your Incognito nodes.
      img(src=require('../../image/become_validator/step4.png'), alt='step4')

  p We welcome any questions, comments, or feedback. Or just reach out to chat. We’re on telegram pretty much all the time:
    | 
    a(href='https://t.me/incognitochain', target='blank') https://t.me/incognitochain
    |, or do it the old fashioned way and send an email to
    | 
    a(href='mailto:go@incognito.org') go@incognito.org.