include ../common/collapse.pug

mixin stepHtml(step, stepName, isOpen)
  .step-item
    +collapseItemHtml(`<span class='label' data-step-number='${step}'>${stepName}</span>`, null, isOpen)
      block

.step-container.container
  +collapse('validator-steps-guide')
    +stepHtml('1', 'Create your account', 'true')
      p Create your account in the Incognito Wallet
        | 
        a(href='https://test-wallet.incognito.org', target='blank') https://test-wallet.incognito.org.
      p Copy your address and private key.  You’ll need them later.
      img(src=require('../../image/become_validator/step1.png'), alt='step1')

    +stepHtml('2', 'Request free Privacy (PRV)')
      p Request free Privacy (PRV) from the Incognito Faucet 
        | 
        a(href='https://test-faucet.incognito.org/', target='blank') https://test-faucet.incognito.org/.
        | 
        | Privacy is the native coin of the Incognito Network. 
      p The Faucet will give you 5,000 PRV.
      img(src=require('../../image/become_validator/step2.png'), alt='step2')
    
    +stepHtml('3', 'Run Incognito')
      p Install 
        |
        a(href='https://docs.docker.com/install/', target='blank') Docker.
      p Download Incognito chain.
      p 
        span.script docker pull incognitochain/incognito
      p Start Incognito chain.  Replace 
        |
        span.script [YOUR_KEY] 
        |
        |with your private key.
      p
        span.script docker run --net host -e PRIVATEKEY=[YOUR_KEY] -v $PWD:/data -d incognitochain/incognito
    
    +stepHtml('4', 'Monitor Incognito')
      p Install
        | 
        a(href='https://github.com/incognitochain/incognito-monitor/releases', target='blank') Incognito Network Monitor.
        |
        | The Incognito Network Monitor is a desktop utility that lets you monitor multiple nodes on the Incognito network.
      p Wait until the Local node status changes from OFFLINE to ONLINE.  It takes a few minutes for your node to be fully synced with the network.
      img(src=require('../../image/become_validator/step4.png'), alt='step4')

    +stepHtml('5', 'Stake')
      p Once the local node is online, stake 1,750 PRV to become a validator.
      img(src=require('../../image/become_validator/step5.png'), alt='step5')

  h3 Congrats!  You’re now an Incognito Validator :)