include ../common/collapse.pug

mixin stepHtml(step, stepName, isOpen)
  .step-item
    +collapseItemHtml(`<span class='label' data-step-number='${step}'>${stepName}</span>`, null, isOpen)
      block

.step-container.container
  +collapse('validator-steps-guide')
    +stepHtml('1', 'Create your account', 'true')
      p Create your account in the Incognito Wallet
        | 
        a(href='https://test-wallet.incognito.org', target='blank') https://test-wallet.incognito.org.
      p Copy
        | 
        span.highlight YOUR PRIVATE KEY.
        | 
        | You’ll need it in STEP 2.
      p Copy
        | 
        span.highlight YOUR ADDRESS.
        | 
        | You’ll need it in STEP 3.

      img(src=require('../../image/become_validator/step1.png'), alt='step1')

    +stepHtml('2', 'Run Incognito')
      p Install 
        |
        a(href='https://docs.docker.com/install/', target='blank') Docker.
      p Download Incognito chain.
      p 
        span.script.copiable(data-copy-value='docker pull incognitochain/incognito') docker pull incognitochain/incognito
      p Start Incognito chain. Replace
        | 
        span.script 123456
        | 
        | below with
        | 
        span.script YOUR PRIVATE KEY
        |
        |(from STEP 1).
      p
        span.script.copiable(data-copy-value='docker run -p 9334:9334 -e PRIVATEKEY=123456 -v $PWD:/data -d incognitochain/incognito') docker run -p 9334:9334 -e PRIVATEKEY=123456 -v $PWD:/data -d incognitochain/incognito
    
    +stepHtml('3', 'Request free Privacy (PRV)')
      p Privacy (PRV) is the native coin of the Incognito Network.  You need to stake 1,750 PRV to become a miner.  
      p It’s easy to request free PRV.  Simply send a message on the Incognito Telegram channel
        | 
        a(href='https://t.me/incognitochain', target='blank') https://t.me/incognitochain,
        |
        |along with YOUR ADDRESS (from STEP 1).
      p For example:
      p "I'd like to be a miner for the Incognito Testnet. Please send me some free PRV.  My address is 1Uv3CsGLj7Ue6YoftT2XvMPrLcpETWgDPu9XQ3rF8FgZKMtwfkGPbQ1nRxtyhSVs7duQ"


    +stepHtml('4', 'Stake')
      p In the Incognito Wallet, stake 1750 PRV to become a validator.
      .row-img 
        .img
          img(src=require('../../image/become_validator/stake_1.png'), alt='stake_1')
        .img
          img(src=require('../../image/become_validator/stake_2.png'), alt='stake_2')

    +stepHtml('5', 'Monitor Incognito')
      p Install
        | 
        a(href='https://github.com/incognitochain/incognito-monitor/releases', target='blank') Incognito Network Monitor.
        |
        | The Incognito Network Monitor is a desktop utility that lets you monitor multiple nodes on the Incognito network.
      img(src=require('../../image/become_validator/step4.png'), alt='step4')

  h3 Congrats!  You’re now an Incognito Miner :)