extends ../layout.pug


block title
   title Generate bitcoin passive income with the Node home device.

block meta
   - var descriptionContent = `Node is not your typical bitcoin mining machine. It’s small, sleek, super quiet, and the most energy-efficient way to generate crypto, earning you Bitcoin, Ethereum and more for less electricity than it takes to power your toaster. Just plug and play. No coding required. No Bitcoin mining rigs allowed here.`;
   meta(property="og:image" content="/Node.png")
   meta(name='description', content=descriptionContent)
   meta(name='og:description' content=descriptionContent)
   meta(name='twitter:description' content=descriptionContent)
   
block main
   include ../header.pug
   div#home1-container
      div.intro-slider-container
         .image
            .desktop
               i-slider(images=[
                  {
                     img: 'https://www.youtube.com/embed/bafTu0kGfq4',
                     thumbnail: 'https://img.youtube.com/vi/bafTu0kGfq4/hqdefault.jpg',
                     type: 'youtube',
                  },
                  {
                     img: 'https://www.youtube.com/embed/eXNAD4wckQI',
                     thumbnail: 'https://img.youtube.com/vi/eXNAD4wckQI/hqdefault.jpg',
                     type: 'youtube',
                  },
                  {
                     img: require('../../image/home1/home_slider_1.jpg'),
                  },
                  {
                     img: require('../../image/home1/home_slider_2.jpg'),
                  },
                  {
                     img: require('../../image/home1/home_slider_3.jpg'),
                  },
                  {
                     img: require('../../image/home1/home_slider_4.jpg'),
                  },
                  {
                     img: require('../../image/home1/home_slider_5.jpg'),
                  },
                  {
                     img: require('../../image/home1/home_slider_6.jpg'),
                  }
               ],
               aspect_ratio=450/720*100)
            img(src=require('../../image/home1/home_background_mobile.jpg')).mobile

            .links
               span.link(data-video-url='https://www.youtube.com/embed/bafTu0kGfq4', type='intro')
                  img(src=require('../../image/icon/play.svg')).icon
         .right-content
            include intro.pug
      //- .container
      //-    include ./benefit.pug
      //-    include ./press.pug
      //- include ./testimonial.pug
      include section.pug
      //- include question.pug
      include ../telegram_chat.pug
   include ../common/video_popup.pug
   +video_popup(true)
   //- include ../footer.pug