#press-container
    .title Node is featured on
    .press-container
        .swiper-container.press-group
            .swiper-wrapper.press-wrapper
                .press-logo.swiper-slide
                    img(src=require('../../image/press/money_in_crypto.svg'))
                .press-logo.swiper-slide
                    img(src=require('../../image/press/canard.svg'))
                .press-logo.swiper-slide
                    img(src=require('../../image/press/market_watch.svg'))
                .press-logo.swiper-slide
                    img(src=require('../../image/press/yahoo.svg'))
                .press-logo.swiper-slide
                    img(src=require('../../image/press/verdict.svg'))
                .press-logo.swiper-slide
                    img(src=require('../../image/press/the_block.svg'))
                .press-logo.swiper-slide
                    img(src=require('../../image/press/chainnews.svg'))
                .press-logo.swiper-slide
                    img(src=require('../../image/press/the_blockchain_domain.svg'))
        .swiper-button-next
        .swiper-button-prev