#content-container
    .section.container
        //- .benefit-container
        //-     .benefit-group
        //-         .heading Our Guarantee
        //-     .benefit-group.benefit-wrapper
        //-         +benefit(require('../../image/icon/worldwide.svg'), 'Ships worldwide', 'Anyone, anywhere, can own a Node.')
        //-         +benefit(require('../../image/icon/warranty.svg'), '1-year warranty', 'If something goes wrong we’ll fix it. Easy.')
        //-         +benefit(require('../../image/icon/trail.svg'), '30-day trial', 'If you don’t love your Node, return it for a full refund.')
        .story-container
            h1.heading Our Story
            .content
                .group
                    .title A disclaimer.
                    .description We’re crypto geeks. We’re excited about this new movement, and we want everyone to have the option to participate in it. That’s why we built Node. To make it as easy as possible for anyone to own new money, and a piece of our new economy.
                    .subtitle On that note, introducing:
                    .image 
                        img(src=require('../../image/home1/story/1.jpg'))
                        .description A different kind of home device
                .group
                    .title The easiest way to own crypto.
                    .description 
                        span.strong Meet Node. 
                        |Plug in, earn crypto. That’s about it. Node helps you collect the biggest coins of today – BTC, ETH, BNB and more – and all you need to do is turn it on.
                    .image 
                        img(src=require('../../image/home1/story/2.jpg'))
                        .description Takes about a second to get started
                    .image 
                        img(src=require('../../image/home1/story/3.jpg'))
                        .description Can’t decide? Node earns the most promising currencies on the market today
                    .description Want to keep track of your earnings? Do it from the app. Node doesn’t require babysitting (or hours spent staring at order books), so you can earn crypto while you’re chilling at the beach.
                    .image 
                        img(src=require('../../image/home1/story/4.jpg'))
                        .description Start, pause, resume, withdraw your earnings from the handy mobile app
                    .image 
                        img(src=require('../../image/home1/story/5.jpg'))
                        .description Node is happy to stay at home while you travel the world
                .group
                    .title The least scary way to get crypto.
                    .description If you’ve ever tried to buy a little Bitcoin and ended up backing out, we get it. Typically, it’s not super easy to get your hands on crypto. You’ll have to upload your ID and SSN on shady crypto exchanges, buy directly from strangers or cobble together your own mining rig. It’s not ideal.
                    .description With Node, you don’t have to give up your personal info. You don’t need any technical expertise. You literally just need a power socket, and a place for your Node to sit.
                    .image 
                        img(src=require('../../image/home1/story/6.jpg'))
                        .description Where are you gonna put your Node?
                    .description If you’re curious about this seismic financial movement but hesitant to dive into the madness, Node is a great place to start. Now, all you have to do is plug Node in.
                .group
                    .title The most energy-efficient way to generate crypto
                    .description Node is not a less powerful mining machine. Node is something else entirely.
                    .image 
                        img(src=require('../../image/home1/story/7.jpg'))
                        .description Mining rigs are so yesterday
                    .description Node earns crypto by powering a new type of protocol (Proof of Stake, for our fellow nerds out there), one that consumes substantially less energy. This means hash rates don’t apply, and you’re not in a duck-swinging battle to see who’s got the biggest, baddest supercomputer.
                    .description Node needs just 1.5 kwh a day to run, so if you live in the USA, it will cost you less than 8 cents to keep Node running all day long. Node is the most low maintenance housemate/pet you’ve ever had.
                    .image 
                        img(src=require('../../image/home1/story/8.jpg'))
                        .description This is Mr. Fancy, our CEO
                .group
                    .title The most ethical way to earn crypto
                    .description Do you think people deserve privacy? So does Node.
                    .description Node is a gadget with heart. It earns rewards for powering incognito mode for the crypto world. When you switch Node on, you’re not just earning crypto, you’re also giving anyone the option to claim their right to privacy.
                    .description Node makes sure you’re rewarded for protecting these rights, so a percentage of every private transaction will go you. This means whenever someone sends Bitcoin privately, you get Bitcoin.
                    .image
                        img(src=require('../../image/home1/story/9.jpg'))
                        .description Watch your rewards accumulate in real-time
                    .description Your Node will work together with thousands of other Nodes to support and sustain a decentralized, alternative network where all transactions are confidential. This means you don’t have to trust institutions, service providers and profit-driven centralized parties to tell you your information is safe. Node makes sure you’re in control.
                    .image
                        img(src=require('../../image/home1/story/10.png'))
                        .description Be a part of something bigger           
                .group
                    .title Hold up. What do you mean confidential transactions?
                    .description Whenever anyone sends or receives crypto – that’s recorded on a public ledger. That means anyone can search your entire crypto financial history, see how much you have, what you do with it, who you send it to, and where it comes from.
                    .description If you think crypto is gonna get bigger, then we have a problem. You don’t need to have anything to hide to not want to expose your bank statements to the entire world.
                    .image
                        img(src=require('../../image/home1/story/11.jpg'))
                        .description Time to turn on incognito mode for your money
                    .description Node powers the Incognito Network. Incognito is a privacy-focused alternative, which uses advanced cryptographic techniques (zero-knowledge proofs, ring signatures and stealth addresses) to obscure the sender, receiver, and amount of every single transaction made on the network.
                    .description Node makes the application of this technology possible, for anyone who wants to claim their right to privacy. And neither the owner of a Node, nor the user of the network, needs any technical expertise to earn rewards or choose privacy. That’s where we come in.
                .group
                    .title Hello, from all of us.
                    .description We’re a diverse team of 30+ cryptographers, distributed system researchers, programmers, and community builders – busy creating the privacy layer of the decentralized web. We also happen to be a bunch of hardware geeks who’ve shipped $100M+ of connected hardware worldwide, so we kind of know what we’re doing (most of the time).
                    .image
                        img(src=require('../../image/home1/story/12.jpg'))
                    .description We came together to help open up this exciting new economy to our fellow lovers of innovation. And to make privacy simple, accessible, and most importantly, something that belongs to the people. Blockchain is often referred to as The New Internet. Well, this is our chance to do things differently.
                .group
                    .title What’s in the box
                    .description Chris will show you:
                    .description 1 x Node
                        <br/>
                        |1 x Power cable
                        <br/>
                        |4 x International adaptors
                        <br/>
                        |1 x Ethernet Port
                        <br/>
                        |1 x Thank you note
                .group
                    .title The Node app
                    .description To bring your Node online, manage it remotely and keep track of your earnings, just connect your Node to the app.
                    .image
                        img(src=require('../../image/home1/story/13.jpg'))
                        .description Available on iOS and Android
                .group
                    .title Device Specs
                    .image
                        img(src=require('../../image/home1/story/14.png'))
                .group
                    .title The Process
                    .subtitle 1) Designing the shape.
                    .description We wanted Node to look a little different from the typical home device, but still elegant enough to fit in any room. Here are some early sketches.
                    .image
                        img(src=require('../../image/home1/story/15.jpg'))
                        .description Variations on a theme that stuck
                    .subtitle 2) Crafting the mould.
                    .description This part was super fun. 
                    .image
                        img(src=require('../../image/home1/story/16.jpg'))
                        .description One of many, many moulds
                    .subtitle 3) Selecting the materials
                    .description Node is made of scratch-resistant, anodized aluminum, so if takes a minor tumble, you’ll be ok. It’s lightweight (2 lbs), sleek, and robust.
                    .image
                        img(src=require('../../image/home1/story/17.jpg'))
                        .description Waiting to have life put in them
                    .image
                        img(src=require('../../image/home1/story/18.jpg'))
                        .description Everyone loves a little canvas
                    .subtitle 4) Full speed ahead!
                    .description Production of the first Nodes has already begun. Here are a few snapshots of Node coming to life.
                    .image
                        img(src=require('../../image/home1/story/19.jpg'))
                        .description Say hello to the granule mixer
                    .image
                        img(src=require('../../image/home1/story/20.jpg'))
                        .description 2 assembled moulds looking like friendly robots
                    .image
                        img(src=require('../../image/home1/story/21.jpg'))
                        .description Aluminum shape treatment
                .group
                    .title Timeline
                    .description First line of code written for the Incognito Network - 
                        span.strong May 2018.
                    .description Idea for the Node - 
                        span.strong Jan 2019
                    .description Final prototype of the Node - 
                        span.strong July 2019
                    .description Mass production begins - 
                        span.strong August 2019
                    .description Incognito Network mainnet launch - 
                        span.strong October 2019
                    .description Early adopter units shipped - 
                        span.strong November 2019
                .group
                    .title FAQ
                    .subtitle Why is Node so much more efficient than traditional mining devices?
                    .description Traditional mining relies on an energy-guzzling mechanism called Proof of Work (PoW). Most major blockchains are now making upgrades to Proof of Stake (PoS) – a much more efficient system. The Incognito Chain is PoS, so Node is able to earn you cryptocurrency for less energy than it takes to power your desktop.
                    .subtitle When will Node ship?
                    .description Node will begin shipping in November with priority for the first Kickstarter orders.
                    .subtitle How much electricity does it consume?
                    .description Node is very energy efficient. At maximum capacity, it consumers ~1.5 kWh a day. On average, it consumes less than ~1 kWh a day. In the US, that’s about $0.08 a day.
                    .subtitle What is the return policy?
                    .description If you don’t love your Node, simply return it within 30 days for a full refund. No questions asked.
                    .subtitle Which countries are Node available in?
                    .description Node ships worldwide and ships quickly through our international warehouse partners in North America, Europe and Asia.
                    .subtitle How long does it take to set up Node?
                    .description Plug it in. Connect to WiFi. Let it run. That’s it!
                    .subtitle How quiet is Node?
                    .description Node is extremely quiet, even when it operates at maximum capacity. You can set up Node anywhere. On the kitchen counter, in your bedroom, or in the office.
                    .subtitle Which currencies can Node earn?
                    .description Node earns Incognito’s native coin, Privacy (PRV), for every block created. Since Node offers incognito mode for multiple currencies from multiple blockchains, it can also collect transaction fees in multiple cryptocurrencies (BTC, ETH, BNB, and more).
                .group
                    .title Risks and challenges
                    .description The fiat value of what Node earns is variable, due to the volatility of the crypto market. Users are free at any time to withdraw their rewards and cash out to fiat. We have and are investing significant effort into creating an app interface that is smooth and delightful, to give users a stress-free method of monitoring their crypto assets. They will be able to see the USD value of their assets at any given time, and be able to make decisions on whether or not they would like to withdraw.
                    .description Node powers the Incognito Network, which is currently on the testnet. The mainnet is scheduled to go live before the first Nodes are shipped. In the event that the mainnet launch is delayed, tokens earned will be testnet tokens, which cannot be withdrawn in that state. In the unlikely event that the mainnet is delayed, all rewards earned on the testnet will be converted to tradable tokens once it goes live.
                    .description Lastly, of course a challenge that any project will relish – if demand is larger than expected, it may take a little longer to get Nodes out to everyone. If production is delayed, we have a few back-up options from our years spent in e-commerce to ensure you get your Nodes asap.
                .group
                    .title Environmental commitments
                    .subtitle Reusability and recyclability
                    .description Node is predominantly made of aluminum and canvas, both of which are widely recyclable, and constitute easily removable components. The motherboard is lead-free and can be repurposed. Node opts to be powered by external sources and thus does not contain a battery. Node's packaging is made entirely out of recycled cardboard and paper – no plastic is used.
                    .subtitle Something else
                    .description We integrate sustainability into the very core of the product. By powering a PoS protocol instead of the traditional PoW, Node is an energy-efficient alternative to an environmentally wasteful industry.

