i-tab-navigation#content-container(default-tab-index=0)
    h1.heading Product detail
    .nav-links
        .container
            tab.link Node
            tab.link App
            tab.link Specs
            tab.link FAQ
            tab.link Unboxed
            include ../common/buy_now.pug
            +buy_now()
    .container
        .story-container
            tab-item#node
                h1.heading It's easy.
                .content
                    .group
                        .description Node helps you collect the biggest coins of today – BTC, ETH, PRV and more – and all you need to do is turn it on.
                        .swiper-container.swiper-coverflow
                            .swiper-wrapper
                                .image.swiper-slide 
                                    img(src=require('../../image/home1/story/2.jpg'))
                                    .description Plug in, earn crypto.
                                .image.swiper-slide
                                    img(src=require('../../image/home1/story/4.jpg'))
                                    .description Collect today’s most exciting cryptocurrencies.
                                .image.swiper-slide
                                    img(src=require('../../image/home1/story/9.jpg'))
                                    .description Keep track of your earnings from anywhere in the world
                            .swiper-button-next
                            .swiper-button-prev
                h1.heading Ethical.
                .content
                    .group
                        .description Node earns rewards for processing private transactions for the crypto world. Whenever someone sends bitcoin privately, you get bitcoin – because you made privacy possible.
                        .swiper-container.swiper-coverflow
                            .swiper-wrapper
                                .image.swiper-slide 
                                    img(src=require('../../image/home1/story/10.jpg'))
                                    .description Earn rewards for protecting our rights.
                                .image.swiper-slide
                                    img(src=require('../../image/home1/story/11.jpg'))
                                    .description Solve the biggest threat to our new economy.
                                .image.swiper-slide
                                    img(src=require('../../image/home1/story/3.jpg'))
                                    .description Earn rewards for protecting our rights.
                            .swiper-button-next
                            .swiper-button-prev
                h1.heading Energy-efficient.
                .content
                    .group
                        .description Node needs just 1.5kwh to run all day, thanks to Proof of Stake technology. That’s about 8 cents.
                        .swiper-container.swiper-coverflow
                            .swiper-wrapper
                                .image.swiper-slide 
                                    img(src=require('../../image/home1/story/7.jpg'))
                                    .description Move over mining rigs
                                .image.swiper-slide
                                    img(src=require('../../image/home1/story/22.jpg'))
                                    .description Be kind to the earth and your electricity bill
                            .swiper-button-next
                            .swiper-button-prev
                h1.heading More on privacy.
                .content
                    .group
                        .description Whenever anyone sends or receives crypto - that’s recorded on a public ledger. That means anyone can search your entire crypto financial history, see how much you have, what you do with it, who you send it to, and where it comes from.
                        .description Have a look:
                        .image 
                            img(src=require('../../image/home1/story/23.jpg'))
                            .description On public blockchains, senders, receivers and amounts are visible and traceable
                        .description We have a problem. If crypto gets bigger, we have an even bigger problem. Would you expose your bank statements to the entire world?
                        .description Node powers the Incognito Network. Incognito is a privacy-focused alternative, which uses advanced cryptographic techniques (zero-knowledge proofs, ring signatures and stealth addresses) to obscure the sender, receiver, and amount of every single transaction made on the network.
                        .description Node makes the application of this technology possible, for anyone who wants to claim their right to privacy. And neither the owner of a Node, or the user of the network, needs any technical expertise to earn rewards, choose privacy, or give privacy.
                h1.heading R & D
                .content
                    .group
                        .description A full year of R&D.
                        .swiper-container.swiper-coverflow
                            .swiper-wrapper
                                .image.swiper-slide 
                                    img(src=require('../../image/home1/story/15.jpg'))
                                    .description Some early sketches.
                                .image.swiper-slide
                                    img(src=require('../../image/home1/story/17.jpg'))
                                    .description Crafting the mould.
                                .image.swiper-slide
                                    img(src=require('../../image/home1/story/18.jpg'))
                                    .description Selecting the materials
                            .swiper-button-next
                            .swiper-button-prev
            tab-item#app
                .content
                    .group
                        .image
                            img(src=require('../../image/home1/story/13.jpg'))
                        .description To bring your Node online, manage it remotely and keep track of your earnings, just connect your Node to the app.
                        .description Available on iOS and Android
                        .description 
                            .app-store-groups
                                a(href='https://play.google.com/store/apps/details?id=com.incognito.wallet', target='blank')
                                    img(src=require('../../image/wallet/google_play_black.svg'), alt='chplay-app')
                                a(href='https://apps.apple.com/us/app/incognito-crypto-wallet/id1475631606?ls=1', target='blank')
                                    img(src=require('../../image/wallet/app_store_black.svg'), alt='ios-app')
            tab-item#specs
                .content
                    .group
                        .image
                            img(src=require('../../image/home1/story/14.png'))
            tab-item#faq
                .content
                    .group
                        h1.title Why is Node so much more efficient than traditional mining devices?
                        .description Traditional mining relies on an energy-guzzling mechanism called Proof of Work (PoW). Most major blockchains have now made upgrades to Proof of Stake (PoS) - a much more efficient system. By running only the latest PoS blockchains, Node is able to earn you cryptocurrency for less energy than it takes to power your desktop.
                        h1.title When will Node ship?
                        .description Node will begin shipping in November with priority for the first orders.
                        h1.title How much electricity does it consume?
                        .description Node is very energy efficient. At maximum capacity, it consumers ~1.5 kWh a day. On average, it consumes less than ~1 kWh a day. In the US, that’s about $0.08 a day.
                        h1.title What is the return policy?
                        .description If you don’t love your Node, simply return it within 30 days for a full refund. No questions asked.
                        h1.title Which countries are Node available in?
                        .description Node ships worldwide and ships quickly through our international warehouse partners in North America, Europe and Asia.
                        h1.title How long does it take to set up Node?
                        .description Plug it in. Connect to WiFi. Let it run. That’s it!
                        h1.title How quiet is Node?
                        .description Node is extremely quiet, even when it operates at maximum capacity. You can set up Node anywhere. On the kitchen counter, in your bedroom, or in the office.
                        h1.title Which currencies can Node earn?
                        .description Node earns Incognito’s native coin, Privacy (PRV), for every block created. Since Node offers incognito mode for multiple currencies from multiple blockchains, it can also collect transaction fees in multiple cryptocurrencies (BTC, ETH, BNB, and more).
                        h1.title Are my dollar earnings fixed?
                        .description The fiat value of what Node earns is variable, due to the volatility of the crypto market. Users are free at any time to withdraw their rewards and cash out to fiat. Via the Node app, users will be able to see the USD value of their assets at any given time, and be able to make decisions on whether or not they would like to withdraw.
                        h1.title How much will I earn?
                        .description The money Node will make is dependent on how many people use the network to send and receive crypto privately (BTC, ETH, BNB, etc.). While we are hesitant to give exact numbers as there are many variables, we are confident in advertising minimum earnings around the $25/month range (at today's market price). Node earns rewards for powering privacy for the token economy, and as such, its value is tied to the network's usage. Please only purchase Node if you believe what it does is useful or meaningful.
            tab-item#unboxed
                .content
                    .group
                        .description 
                            iframe(width="100%" height="500px" src="https://www.youtube.com/embed/eXNAD4wckQI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        .description 1 x Node
                            <br/>
                            |1 x Power cable
                            <br/>
                            |4 x International adaptors
                            <br/>
                            |1 x Ethernet Port
                            <br/>
                            |1 x Thank you note