mixin feature(icon, title, description)
    .feature
        .icon
            img(src=icon)
        .title= title
        .description= description

mixin work-flow(icon, description)
    .work-flow
        .icon
            img(src=icon)
        .description= description

#intro-container
    .image
        img(src=require('@image/payroll/payroll-banner.jpg'))
    .container
        .info
            h1.title Add privacy to your crypto payroll.
            p.desc Send completely confidential payments to your globally distributed team. Obscure all balances and transaction details with a single tap.
            .cta-button-container
                .cta-button#try-free
                    .title Have a lean team?
                    a(href='/send-bitcoin-anonymously-01.html')
                        button(
                            ga-tracking
                            data-ga-event-category='button' 
                            data-ga-event-action='click' 
                            data-ga-event-label='Payroll/Try it out'
                        ) Try it out for FREE
                .cta-button#schedule-demo
                    .title Need something bigger?
                    button(
                        ga-tracking
                        data-ga-event-category='button' 
                        data-ga-event-action='click' 
                        data-ga-event-label='Payroll/Schedule demo'
                    )#schedule-demo-btn Schedule a demo

#section-container
    .core-features-container.section
        .container
            h1.title Core features
            p.desc Putting payroll on the blockchain makes perfect sense, but exposing salary details to the world can be tricky. Enable incognito mode for your payroll and keep all transaction details completely confidential.
            .features-container
                +feature(require('@image/payroll/payroll-privacy-protected.svg'), 'Privacy-protected', 'Obscure sender and receiver addresses, balances, and transaction amounts. Protect your team’s privacy. ')
                +feature(require('@image/payroll/payroll-non-custodial.svg'), 'Non-custodial', 'Keep full control over your funds. Incognito is fully decentralized. You hold your own private keys.')
                +feature(require('@image/payroll/payroll-customizable.svg'), 'Customizable', 'Pricing starts at $0 – it’s free to make unlimited transfers of unlimited amounts. Get more bells and whistles from just $4.99 a month.')
            .cta-button-container
                button(
                    class="scroll-action-btn" 
                    data-scroll-to=".plan-container"
                    ga-tracking
                    data-ga-event-category='button' 
                    data-ga-event-action='click' 
                    data-ga-event-label='Payroll/Learn more about plans'
                ) Learn more about our plans

    .how-it-works-container.section
        .container
            h1.title How it works
            p.desc Send private, global payments in just a few minutes.
            .work-flow-container
                +work-flow(require('@image/payroll/payroll-wallet.svg'), 'Download the Incognito wallet for iOS or Android')
                +work-flow(require('@image/payroll/payroll-deposit.svg'), 'Deposit crypto to your Incognito wallet')
                +work-flow(require('@image/payroll/payroll-share.svg'), 'Get your team to get their own Incognito wallets')
                +work-flow(require('@image/payroll/payroll-send.svg'), 'Send completely private payments to your team ')
            .cta-button-container
                .cta-button#wallet-app
                    .title Try out the basic version for free.
                    .description 
                    include /common/app_store
                    +app_store()
                .cta-button#schedule-demo
                    .title Want something a little more powerful? 
                    .description Get one-tap multi-sends, payment notifications and your own management dashboard.
                    button(
                        ga-tracking
                        data-ga-event-category='button' 
                        data-ga-event-action='click' 
                        data-ga-event-label='Payroll/Schedule demo'
                    )#schedule-demo-btn Schedule a demo

    .plan-container.section
        .container
            .intro
                h1.title Pricing
                p.desc Tell us which features matter the most to you, and we’ll recommend the right plan.
            .plan-groups
                .plan#lean
                    .plan-wrapper
                        .name Lean
                        .price FREE
                        .cta-button
                            a(href='/send-bitcoin-anonymously-01.html')
                                button(
                                    ga-tracking
                                    data-ga-event-category='button' 
                                    data-ga-event-action='click' 
                                    data-ga-event-label='Payroll/Try it out'
                                ) Try it out now
                    .benefit-wrapper
                        .benefit Unlimited employees
                        .benefit Complete privacy
                        .benefit Low transaction fee (as zero)
                        .benefit Support within 48 hours
                .plan#enterprise
                    .plan-wrapper
                        .name Enterprise
                        .price $4.99
                            .price--description employee/monthly
                        .cta-button
                            button(
                                ga-tracking
                                data-ga-event-category='button' 
                                data-ga-event-action='click' 
                                data-ga-event-label='Payroll/Schedule demo'
                            )#schedule-demo-btn Schedule a demo
                    .benefit-wrapper
                        .benefit Unlimited employees
                        .benefit Complete privacy
                        .benefit Low transaction fee (as zero)
                        .benefit Management dashboard
                        .benefit 1-click payments
                        .benefit Support in real time
        include /common/newsletter_subscription
        +newsletter_subscription    
