mixin feature(icon, title, description)
    .feature
        .icon
            img(src=icon)
        .title= title
        .description= description

mixin work-flow(icon, description)
    .work-flow
        .icon
            img(src=icon)
        .description= description

#intro-container
    .image
        img(src=require('@image/payroll/payroll-banner.jpg'))
    .container
        .info
            h1.title Add privacy to your crypto payroll.
            p.desc Send completely confidential payments to your globally distributed team. Obscure all balances and transaction details with a single tap.
            .cta-button-container
                .cta-button#try-free
                    .title Have a lean team?
                    a(href='/c/wallet')
                        button(
                            ga-tracking
                            data-ga-event-category='button' 
                            data-ga-event-action='click' 
                            data-ga-event-label='Payroll/Try it out'
                        ) Try it out for FREE
                .cta-button#schedule-demo
                    .title Need something bigger?
                    button(
                        ga-tracking
                        data-ga-event-category='button' 
                        data-ga-event-action='click' 
                        data-ga-event-label='Payroll/Schedule demo'
                    )#schedule-demo-btn Schedule a demo