mixin review(avatar, name, title, content)
    .review&attributes(attributes)
        if avatar
            .review-avatar   
                img(src=avatar, alt="avatar image")
        
        .review-wrapper
            .review-subject= title
            .review-content!= content
            .review-user!= name

#section-container
    .core-features-container.section
        .container
            h1.title Core features
            p.desc Putting payroll on the blockchain makes perfect sense, but exposing salary details to the world can be tricky. Enable incognito mode for your payroll and keep all transaction details completely confidential.
            .features-container
                +feature(require('@image/payroll/payroll-privacy-protected.svg'), 'Privacy-protected', 'Obscure sender and receiver addresses, balances, and transaction amounts. Protect your team’s privacy. ')
                +feature(require('@image/payroll/payroll-non-custodial.svg'), 'Non-custodial', 'Keep full control over your funds. Incognito is fully decentralized. You hold your own private keys.')
                +feature(require('@image/payroll/payroll-customizable.svg'), 'Customizable', 'Pricing starts at $0 – it’s free to make unlimited transfers of unlimited amounts. Get more bells and whistles from just $4.99 a month.')
            .cta-button-container
                button(
                    class="scroll-action-btn" 
                    data-scroll-to=".plan-container"
                    ga-tracking
                    data-ga-event-category='button' 
                    data-ga-event-action='click' 
                    data-ga-event-label='Payroll/Learn more about plans'
                ) Learn more about our plans

    .how-it-works-container.section
        .container
            h1.title How it works
            p.desc Send private, global payments in just a few minutes.
            .work-flow-container
                +work-flow(require('@image/payroll/payroll-wallet.svg'), 'Download the Incognito wallet for iOS or Android')
                +work-flow(require('@image/payroll/payroll-deposit.svg'), 'Deposit crypto to your Incognito wallet')
                +work-flow(require('@image/payroll/payroll-share.svg'), 'Get your team to get their own Incognito wallets')
                +work-flow(require('@image/payroll/payroll-send.svg'), 'Send completely private payments to your team ')
            .cta-button-container
                .cta-button#wallet-app
                    .title Try out the basic version for free.
                    .description 
                    include /common/app_store
                    +app_store()
                .cta-button#schedule-demo
                    .title Want something a little more powerful? 
                    .description Get one-tap multi-sends, payment notifications and your own management dashboard.
                    button(
                        ga-tracking
                        data-ga-event-category='button' 
                        data-ga-event-action='click' 
                        data-ga-event-label='Payroll/Schedule demo'
                    )#schedule-demo-btn Schedule a demo

    .testimonial-container.section
            .intro.container
                h1.title What our customers say
            .swiper-container
                .swiper-wrapper
                    +review(require('@image/payroll/payroll_testimonial_autonomous_avatar.jpg'), 'Nghia - Growth Executive at Autonomous', 'The only private crypto payroll option', 'We’ve tried a few different crypto payroll services but the lack of privacy was a dealbreaker. We tested Incognito last month and the results have been good so far. Instant transfers as you would expect, and confidential.', 4).swiper-slide
                    +review(require('@image/payroll/payroll_testimonial_constant_avatar.jpg'), 'Peter - Copywriter at Constant', 'Works for any type of crypto', 'It hasn’t been a difficult transition – we can continue payroll in our stablecoin of choice, but now the details are visible only to the relevant parties.', 4).swiper-slide
                    +review(require('@image/payroll/payroll_testimonial_dvg_avatar.jpg'), 'Liz - General Manager at DVG', 'Good for cross-border teams', 'We are trying out Incognito for the first month for part of our operations, and so far we are liking the results. We’re saving a bunch of money on bank fees, our employees get their money faster, and we can still protect their privacy.', 4).swiper-slide
                    +review(require('@image/payroll/payroll_testimonial_essen_avatar.jpg'), 'Tram -  Designer at Essen', 'Free option works well', 'We’re a small startup so we really appreciate the free option for ‘Lean’ teams. It’s a no-frills product offering but good enough for our purposes. Lets you send and receive any cryptocurrency privately.', 4).swiper-slide
                .swiper-btn-wrapper
                    .swiper-btn-prev
                    .swiper-btn-next

    .plan-container.section
        .container
            .intro
                h1.title Pricing
                p.desc Tell us which features matter the most to you, and we’ll recommend the right plan.
            .plan-groups
                .plan#lean
                    .plan-wrapper
                        .name Lean
                        .price FREE
                        .cta-button
                            a(href='/c/wallet')
                                button(
                                    ga-tracking
                                    data-ga-event-category='button' 
                                    data-ga-event-action='click' 
                                    data-ga-event-label='Payroll/Try it out'
                                ) Try it out now
                    .benefit-wrapper
                        .benefit Unlimited employees
                        .benefit Complete privacy
                        .benefit Near zero transaction fees
                        .benefit Support within 48 hours
                .plan#enterprise
                    .plan-wrapper
                        .name Enterprise
                        .price $4.99
                            .price--description employee/monthly
                        .cta-button
                            button(
                                ga-tracking
                                data-ga-event-category='button' 
                                data-ga-event-action='click' 
                                data-ga-event-label='Payroll/Schedule demo'
                            )#schedule-demo-btn Schedule a demo
                    .benefit-wrapper
                        .benefit Unlimited employees
                        .benefit Complete privacy
                        .benefit Near zero transaction fees
                        .benefit Management dashboard
                        .benefit 1-click payments
                        .benefit Support in real time
        include /common/newsletter_subscription
        +newsletter_subscription('Be the first to hear when Payroll is live.', '', 'Tell me first', 'payroll')
