mixin list(desc)
  li
    span= desc

mixin info-item(title, desc)
  .info-item
    .icon
      block
    .info
      span.title= title
      span.desc= desc

div#intro-container.bounceInUp-ani
  .content
    div.intro
      div
        h1.title Host a Node. Earn crypto.
        p.sub-title Incognito Sidechain is collectively powered by thousands of Incognito Nodes. Whenever anyone makes a private crypto transaction (say, in BTC), Node earns its owner rewards in that currency (BTC), as well as block rewards in Incognito’s native coin (PRV).
        p.sub-title Anyone can host a Node. You can run the software on your computer, or simply plug in the super sleek, energy-efficient Node device, custom-built specifically for Incognito.

        .btn-groups
          a.btn.host-node(href='https://docs.google.com/document/d/1bbA8PzpxbYKqPyTGvH2AsE-TARzPxRTuLMcVwdqGG2s/edit', target='blank')
            .icon
              img(src=require('../../image/icon/my_computer_icon.svg'))
            span.text Host a Node on your computer
          a.btn.get-device(href='specs.html')
            .icon
              img(src=require('../../image/icon/miner_icon.svg'))
            span.text Get a dedicated Node device


        //- ul
        //-   +list('Issue your own privacy token')
        //-   +list('Buy Privacy token')
        //-   +list('Mine and earn Privacy token')
        //-   +list('Partner with the Incognito blockchain')
        //-   +list('Read the whitepaper & open-source code')

      div.action-btn.scroll-action-btn(data-scroll-to='#section-container')
        img(src=require('../../image/icon/arrow_grey.svg'), alt='arrow icon')
        span Learn more
