extends ../layout.pug

mixin side_content(image, btnText, btnLink, btnClass="")
   .description-container
      if block
         block
   .button-container
      a(href=btnLink)
         button(class=btnClass)!= btnText
   .image-container 
      img(src=image).bounceInUp-ani

block title
   title The plug & play Incognito Node

block meta
   - var descriptionContent = `Meet the world's first platform for privacy tokens. Send, store, receive and trade cryptocurrency privately. Earn crypto for powering privacy for the world. Just one tap to explore the Incognito Blockchain and turn on incognito mode for your bitcoin, ethereum, and more.`;
   meta(name='description' content=descriptionContent)
   meta(name='og:description' content=descriptionContent)
   meta(name='twitter:description' content=descriptionContent)

block main
   div#home2-container
      div.intro-slider-container
         h1.title
            span Incognito mode
            img(src=require('../../image/home2/logo.svg')).logo
            span.highlight for your crypto
         .left-content
            +side_content(require('../../image/home2/home-left-image.png'), 'Power', '/node.html')
               h1.title Power the network. 
               .desc Earn crypto for giving others privacy.
         .right-content
            +side_content(require('../../image/home2/home-right-image.png'), 'Use', '/wallet.html')
               h1.title Use the network.
               .desc Send, receive and store crypto privately.

      //- include section.pug
      //- include question.pug