extends ../layout.pug

mixin side_content(image, btnText, btnLink, btnClass="")
   .description-container
      if block
         block
   .button-container
      a(href=btnLink)
         button(class=btnClass)!= btnText
   .image-container 
      img(src=image).bounceInUp-ani

block title
   title Send Bitcoin anonymously. Power privacy.

block meta
   meta(property="og:image" content="/Aboutus.png")
   - var descriptionContent = `Store and send Bitcoin anonymously, as well as Ethereum and any other cryptocurrency. Trade on the first ever fully anonymous crypto exchange. Turn all your coins into privacy coins. Be a validator, earn passive income, and power privacy for the world. What will you do first?`;
   meta(name='description' content=descriptionContent)
   meta(name='og:description' content=descriptionContent)
   meta(name='twitter:description' content=descriptionContent)

block main
   div#home2-container
      div.intro-slider-container
         h1.title
            span Incognito mode
            img(src=require('../../image/home2/logo.svg')).logo
            span.highlight for your crypto
         .left-content
            +side_content(require('../../image/home2/home-left-image.png'), 'Power', '/node.html')
               h1.title Power the network. 
               .desc Earn crypto for giving others privacy.
         .right-content
            +side_content(require('../../image/home2/home-right-image.png'), 'Use', '/c/wallet')
               h1.title Use the network.
               .desc Send, receive and store crypto privately.

      //- include section.pug
      //- include question.pug