mixin list(desc)
  li
    span= desc

mixin info-item(title, desc)
  .info-item
    .icon
      block
    .info
      span.title= title
      span.desc= desc

div#intro-container.bounceInUp-ani
  .content
    div.intro
      div
        h1.title Now anyone can mine crypto.
        p.sub-title A plug and play device that generates crypto. More energy efficient than your toaster.
        p.sub-title Built by a bunch of geeks who shipped $100M+ of connected hardware worldwide.
        br
        p.sub-title.small $199
          | 
          span(style='text-decoration: line-through') $399
          | 
          |for early birds. Coming July 2019.

        .subscribe-email
          include ../common/subscribe_form.pug
        p.sub-title.small.subcriber-count
          span.highlight
            span.number-of-subscriber 0
            | 
            | early adopters
          | 
          |in line for early bird pricing.

        .info-group
          +info-item('30-day trial', 'If you don’t love it, return it for a full refund.')
            img(src=require('../../image/icon/30day_icon.svg'), alt='30day icon')
          +info-item('1-year warranty', 'If something goes wrong, we’ll fix it.')
            img(src=require('../../image/icon/fix.svg'), alt='fix icon')

        //- ul
        //-   +list('Issue your own privacy token')
        //-   +list('Buy Privacy token')
        //-   +list('Mine and earn Privacy token')
        //-   +list('Partner with the Incognito blockchain')
        //-   +list('Read the whitepaper & open-source code')

      div.action-btn.scroll-action-btn(data-scroll-to='#section-container')
        img(src=require('../../image/icon/arrow_grey.svg'), alt='arrow icon')
        span Learn more
