mixin section(subtitle, title, desc)
  .section
    .info.container.visible-effect
      //- h3.subtitle= subtitle
      h1.title= title
      p.desc= desc
    if block
      block
    else

mixin stacklist(name, list)
  .stack.visible-effect
    span.stack-name= name + ': '
    each val, index in list
      a(href=val.link, target='blank').stack-item= val.name
      if index < (list.length - 1)
        |, 
      
#section-container
  +section(
    '',
    'A passive income generator.',
    'The Miner is helpful little gadget for the home. It sits quietly on your kitchen counter earning you crypto.'
  )
    //- +stacklist('Related work', [
    //-   { name: 'Sidechain', link: 'https://blockstream.com/sidechains.pdf' },
    //-   { name: 'Federation', link: 'https://cosmos.network' },
    //-   { name: 'Bridges', link: 'https://blog.kyber.network/waterloo-a-decentralized-practical-bridge-between-eos-and-ethereum-1c230ac65524' }
    //- ])
    img.container(src=require('../../image/section3.svg')).visible-effect

  +section(
    '',
    'Earn multiple cryptocurrencies.',
    'The Miner runs multiple blockchains simultaneously, so you can earn multiple cryptocurrencies at once. Stay energy efficient by tapping into next-gen Layer 2 and Proof-of-Stake blockchains.'
  )
    //- +stacklist('Related work', [
    //-   { name: 'CryptoNote', link: 'https://cryptonote.org/whitepaper.pdf' },
    //-   { name: 'Bulletproofs', link: 'https://eprint.iacr.org/2017/1066.pdf' },
    //-   { name: 'Zero-Knowledge Proofs', link: 'http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.419.8132&rep=rep1&type=pdf' }
    //- ])
    img(src=require('../../image/section1.svg')).visible-effect

  +section(
    '',
    'Mine from anywhere.',
    'The Miner is a simple, elegant device you can plug in anywhere. Use its mobile app to start, pause, resume and track your earnings - from your couch, at the beach or on the go.'
  )
    //- +stacklist('Related work', [
    //-   { name: 'OmniLedger', link: 'https://eprint.iacr.org/2017/406.pdf' },
    //-   { name: 'libp2p', link: 'https://github.com/libp2p/specs' },
    //-   { name: 'pBFT', link: 'http://pmg.csail.mit.edu/papers/osdi99.pdf' }
    //- ])
    img.container(src=require('../../image/section2.svg')).visible-effect